{% extends "base_bootstrap.html" %}

{% block title %}{% if form.instance.id %}Update Breed{% else %}Add Breed{% endif %}{% endblock %}

{% block content %}
<h1>{% if form.instance.id %}Update Breed{% else %}Add Breed{% endif %}</h1>

<p>
    <a href="{% url 'cats:cat_list' %}">Cats</a> |
    <a href="{% url 'cats:breed_list' %}">Breeds</a>
</p>

<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

<p><a href="{% url 'cats:breed_list' %}">Cancel</a></p>
{% endblock %}
