<!DOCTYPE html>
<html>
<head>
    <title>Delete Breed</title>
</head>
<body>
    <h1>Delete Breed</h1>
    
    <p>
        <a href="{% url 'cats:cat_list' %}">Cats</a> |
        <a href="{% url 'cats:breed_list' %}">Breeds</a>
    </p>

    {% if breed.cat_set.all %}
        <p style="color: red;">
            <strong>Warning!</strong> 
            You cannot delete this breed because there are cats associated with it. 
            You must delete or update the following cats first:
        </p>
        <ul>
            {% for cat in breed.cat_set.all %}
            <li>{{ cat.nickname }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Are you sure you want to delete the breed: {{ breed.name }}?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Yes, delete.">
        </form>
    {% endif %}

    <p><a href="{% url 'cats:breed_list' %}">Cancel</a></p>
</body>
</html>